node_modules
.apt_generated

/nVSn/yamigo/TestClient/bin
/nVSn/yamigo/TestClient/gen
/nVSn/yamigo/server/build
/nVSn/yamigo/server/config/runtime.json


/nVSn/hshan/android/bin
/nVSn/hshan/android/gen
/nVSn/hshan/server/config/runtime.json
