node_modules
.apt_generated

/yamigo/TestClient/bin
/yamigo/TestClient/gen
/yamigo/server/build
/yamigo/server/config/runtime.json

/hshan/android/bin
/hshan/android/gen
/hshan/server/config/runtime.json
